body {
  height: 100vh;
  background-color: black;
}
.container {
  padding: 50px 0;
  position: relative;
}
.black {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -34;
  filter: blur(8px);
}
.container .champions {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  overflow: hidden;
}
.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-image: url(./img/map.jpg);
  z-index: -33;
  filter: blur(8px);
}
.container .champions .champion {
  /* filter: grayscale(100%);
  filter: gray; */
  width: 64px;
  height: 64px;
  margin: 4px;
  border: 3px solid #fff;
  background-color: #555;
  box-sizing: border-box;
  transition: transform 0.1s, border 0.6s; /* 여러개를 넣을 수 있다. */
}

.container .champions .champion:hover {
  border: 3px solid #f1c40f;
  transform: scale(1.1);
  z-index: 1;
}
.container .champions .champion .image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.container .champions .champion:nth-child(1) .image {
  background-image: url("./img/champ1.png");
}
.container .champions .champion:nth-child(2) .image {
  background-image: url("./img/champ2.png");
}
.container .champions .champion:nth-child(3) .image {
  background-image: url("./img/champ3.png");
}
.container .champions .champion:nth-child(4) .image {
  background-image: url("./img/champ4.png");
}
.container .champions .champion:nth-child(5) .image {
  background-image: url("./img/champ5.png");
}
.container .champions .champion:nth-child(6) .image {
  background-image: url("./img/champ6.png");
}
.container .champions .champion:nth-child(7) .image {
  background-image: url("./img/champ7.png");
}
.container .champions .champion:nth-child(8) .image {
  background-image: url("./img/champ8.png");
}
.container .champions .champion:nth-child(9) .image {
  background-image: url("./img/champ9.png");
}
.container .champions .champion:nth-child(10) .image {
  background-image: url("./img/champ10.png");
}
.container .champions .champion:nth-child(11) .image {
  background-image: url("./img/champ11.png");
}
.container .champions .champion:nth-child(12) .image {
  background-image: url("./img/champ12.png");
}
.container .champions .champion:nth-child(13) .image {
  background-image: url("./img/champ13.png");
}
.container .champions .champion:nth-child(14) .image {
  background-image: url("./img/champ14.png");
}
.container .champions .champion:nth-child(15) .image {
  background-image: url("./img/champ15.png");
}
.container .champions .champion:nth-child(16) .image {
  background-image: url("./img/champ16.png");
}
.container .champions .champion:nth-child(17) .image {
  background-image: url("./img/champ17.png");
}
.container .champions .champion:nth-child(18) .image {
  background-image: url("./img/champ18.png");
}
.container .champions .champion:nth-child(19) .image {
  background-image: url("./img/champ19.png");
}
.container .champions .champion:nth-child(20) .image {
  background-image: url("./img/champ20.png");
}
.container .champions .champion:nth-child(21) .image {
  background-image: url("./img/champ21.png");
}
.container .champions .champion:nth-child(22) .image {
  background-image: url("./img/champ22.png");
}
.container .champions .champion:nth-child(23) .image {
  background-image: url("./img/champ23.png");
}
.container .champions .champion:nth-child(24) .image {
  background-image: url("./img/champ24.png");
}
.container .champions .champion:nth-child(25) .image {
  background-image: url("./img/champ25.png");
}
.container .champions .champion:nth-child(26) .image {
  background-image: url("./img/champ26.png");
}
.container .champions .champion:nth-child(27) .image {
  background-image: url("./img/champ27.png");
}
.container .champions .champion:nth-child(28) .image {
  background-image: url("./img/champ28.png");
}
.container .champions .champion:nth-child(29) .image {
  background-image: url("./img/champ29.png");
}
.container .champions .champion:nth-child(30) .image {
  background-image: url("./img/champ30.png");
}
.container .champions .champion:nth-child(31) .image {
  background-image: url("./img/champ31.png");
}
.container .champions .champion:nth-child(32) .image {
  background-image: url("./img/champ32.png");
}
.container .champions .champion:nth-child(33) .image {
  background-image: url("./img/champ33.png");
}
.container .champions .champion:nth-child(34) .image {
  background-image: url("./img/champ34.png");
}
.container .champions .champion:nth-child(35) .image {
  background-image: url("./img/champ35.png");
}
.container .champions .champion:nth-child(36) .image {
  background-image: url("./img/champ36.png");
}
.container .champions .champion:nth-child(37) .image {
  background-image: url("./img/champ37.png");
}
.container .champions .champion:nth-child(38) .image {
  background-image: url("./img/champ38.png");
}
.container .champions .champion:nth-child(39) .image {
  background-image: url("./img/champ39.png");
}
.container .champions .champion:nth-child(40) .image {
  background-image: url("./img/champ40.png");
}
.container .champions .champion:nth-child(41) .image {
  background-image: url("./img/champ41.png");
}
.container .champions .champion:nth-child(42) .image {
  background-image: url("./img/champ42.png");
}
.container .champions .champion:nth-child(43) .image {
  background-image: url("./img/champ43.png");
}
.container .champions .champion:nth-child(44) .image {
  background-image: url("./img/champ44.png");
}
.container .champions .champion:nth-child(45) .image {
  background-image: url("./img/champ45.png");
}
.container .champions .champion:nth-child(46) .image {
  background-image: url("./img/champ46.png");
}
.container .champions .champion:nth-child(47) .image {
  background-image: url("./img/champ47.png");
}
.container .champions .champion:nth-child(48) .image {
  background-image: url("./img/champ48.png");
}
.container .champions .champion:nth-child(49) .image {
  background-image: url("./img/champ49.png");
}
.container .champions .champion:nth-child(50) .image {
  background-image: url("./img/champ50.png");
}
.container .champions .champion:nth-child(51) .image {
  background-image: url("./img/champ51.png");
}
.container .champions .champion:nth-child(52) .image {
  background-image: url("./img/champ52.png");
}
.container .champions .champion:nth-child(53) .image {
  background-image: url("./img/champ53.png");
}
.container .champions .champion:nth-child(54) .image {
  background-image: url("./img/champ54.png");
}
.container .champions .champion:nth-child(55) .image {
  background-image: url("./img/champ55.png");
}
.container .champions .champion:nth-child(56) .image {
  background-image: url("./img/champ56.png");
}
.container .champions .champion:nth-child(57) .image {
  background-image: url("./img/champ57.png");
}
.container .champions .champion:nth-child(58) .image {
  background-image: url("./img/champ58.png");
}
.container .champions .champion:nth-child(59) .image {
  background-image: url("./img/champ59.png");
}
.container .champions .champion:nth-child(60) .image {
  background-image: url("./img/champ60.png");
}

.container .logo {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
}

.container .logo img {
  width: 100%;
}
